*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: gray;
    padding: 30px;  
}
.header{
    height: 100vh;
    background-image: linear-gradient(to right,rgb(51, 204, 51, 0.9), rgb(53,299,51,0.9)), url("img/background.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
    
}
.logo-box{
    position: absolute;
    top: 4px;
    bottom: 4px;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}
.headding{
    color: #FFF ;
    text-transform: uppercase;
}

.primary-heading-main{
    display: block;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 35px;
    animation-name: headding;
    animation-duration: 1s;
}

.primary-heading-sub{
    letter-spacing: 10px;
    display: block;
    font-weight: 200;
    font-size: 20px;
    animation-name: sub-headding;
    animation-duration: 2s;
    margin-bottom: 40px;
    
}
@keyframes headding{
    0%{
        opacity: 0;
       transform: translateX(-20px)
    }
    80%{
        transform: translateX(20px)
    }
    100%{
        transform: (0)
    }
}
@keyframes sub-headding{
    0%{
        opacity: 0;
       
    }
   
    100%{
        opacity: 1;
    }
}


.btn:link, .btn:visited{
    background-color: white;
    color: black;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2)
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}